[submodule "lib/ArduinoCore-avr"]
	path = lib/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "lib/lufa"]
	path = lib/lufa
	url = https://github.com/abcminiuser/lufa.git
